@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.header {
  font-size: 3.5rem;
  margin-bottom: 50px;
  font-family: "Pushster", cursive;
  color: #004953;
}

.sub-heading {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

#message {
  width: 320px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: large;
}

.button {
  padding: 10px 20px;
  margin: 15px 0px 20px;
  border: 2px solid rgb(26, 73, 26);
  color: rgb(238, 237, 237);
  background-color: rgb(110, 190, 110);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

p {
  text-align: center;
  font-size: 20px;
}

p span {
  margin: 10px;
  display: block;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  background-color: aliceblue;
  visibility: hidden;
  font-size: 25px;
  color: #002d62;
}
